@{
    ViewBag.Title = "Pergunta Aí!";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <p>
                <input type="text" name="pergunta" placeholder="Qual tua dúvida?" data-bind="value: textoPergunta"/>
                <button name="enviar_pergunta" data-bind="enable: deveExibirBotao, click: perguntar">Dale!</button>
            </p>
            <p>
                <label data-bind="visible: deveExibirErro, text: textoErro"></label>
            </p>
        </div>
    </section>
}

<section name="perguntas">
    <ol data-bind="foreach: perguntas">
        <li><strong data-bind="text: $data"></strong></li>
    </ol>
</section>


@section scripts {
    <script type="text/javascript">
        ko.applyBindings(index.viewModel);
    </script>
}